<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Yoga Loft</title>
  {% load static %}
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/home/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/home/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/home/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
</head>

<body class="montserrat-400">
  <nav class="navbar navbar-expand-lg fixed-top montserrat-100">
    <a class="navbar-brand d-lg-none mx-auto montserrat-100 logo" href="#">The Yoga Loft</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link d-none d-lg-block montserrat-100 logo" href="#">The Yoga Loft</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="btn custom-btn" href="#">Book a class!</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="hero">
    <div class="container">
      <h1 class="display-4 montserrat-400">Breathe, flow, transform</h1>
      <!-- squiggly bit -->
      <div class="custom-shape-divider-bottom-1737311119" id="about-us">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <h2 class="text-center mb-4">About Us</h2>
      <div class="row justify-content-center">
        <div class="col-md-5">
          <p class="text-center montserrat-200 ">Nestled in the heart of our vibrant community, we believe that yoga is
            more than just a workout—it's a journey of self-discovery and joy. Our passionate instructors are here to
            guide you through each pose with warmth and laughter, helping you find your flow while connecting with
            like-minded souls. Whether you're a seasoned yogi or just starting your journey, our diverse classes cater
            to all levels. Join us on the mat, breathe deeply, and let the magic of yoga uplift your spirit and calm
            your mind.
        </div>
      </div>
    </div>
  </section>

  <section class="why-us">
    <!-- squiggly bit -->
    <div class="custom-shape-divider-top-1737372251">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"></path>
      </svg>
    </div>
    <div class="container">
      <h2 class="text-center mb-4">Why Choose Us</h2>
      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'home/images/yoga-instructor.png' %}" class="card-img-top"
              alt="An instructor teaching yoga">
            <div class="card-body">
              <h5 class="card-title">Experienced Instructors</h5>
              <p class="card-text">Our instructors are highly trained and experienced, ensuring you get the best
                guidance and support.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'home/images/yoga-studio.png' %}" class="card-img-top" alt="A peaceful, calm studio">
            <div class="card-body">
              <h5 class="card-title">Peaceful Environment</h5>
              <p class="card-text">Our studio provides a serene and peaceful environment, perfect for your yoga
                practice.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'home/images/yoga-inclusive.png' %}" class="card-img-top"
              alt="A group of people doing downward dog">
            <div class="card-body">
              <h5 class="card-title">Diverse Classes</h5>
              <p class="card-text">We offer a variety of classes to suit all levels and preferences, from beginners to
                advanced practitioners.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="invitation py-5">
    <div class="container">
      <div class="custom-shape-divider-top-1737420295">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <h2 class="text-center mb-4 join-us">Join us</h2>
      <div class="row justify-content-center">
        <div class="col-md-5">
          <p class="text-center">We invite you to book a class and discover your inner peace. Our experienced
            instructors
            and serene environment are here to support you on your journey to wellness. Whether you're a beginner or an
            advanced practitioner, we have classes that cater to all levels. Come and find your flow with us.</p>
          <div class="text-center mt-4">
            <a class="btn custom-btn" href="#">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col-4 footer-item">
          <a href="https://facebook.com" aria-label="Visit our Facebook page by clicking this link" class="text-light"
            target="_blank">
            <i class="fa-brands fa-facebook fa-2xl"></i>
          </a>
        </div>
        <div class="col-4 footer-item">
          <a href="https://instagram.com" aria-label="Visit our Instagram page by clicking this link" class="text-light"
            target="_blank">
            <i class="fa-brands fa-instagram fa-2xl"></i>
          </a>
        </div>
        <div class="col-4 footer-item">
          <a href="https://twitter.com" aria-label="Visit our Twitter page by clicking this link" class="text-light"
            target="_blank">
            <i class="fa-brands fa-twitter fa-2xl"></i>
          </a>
        </div>
      </div>
      <!-- <br> -->
      <p class="mt-3">&copy; 2025 The Yoga Loft. All rights reserved.</p>
    </div>
  </footer>

  <!-- Font Awesome kit-->
  <script src="https://kit.fontawesome.com/1e4d8aa4fa.js" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
</body>

</html>