.body {
    font-family: "Montserrat", sans-serif;
}


/* Navbar */
.navbar {
    min-height: 65px;
    align-items: center;
    background-color: #AD6E56;
    font-size: 40px;
    color: white;
}

.navbar-nav {
    align-items: center;
}
.navbar .navbar-nav .nav-link{
    padding: 0 1em;
    color: white;
}

.nav-link {
    font-size: 25px;
    color: white;
}
.navbar-toggler {
    border-color: white;
    color: white;
}

.logo {
    font-size: 50px;
    white-space: nowrap;
    color: white;
}


/* hero section */
.hero {
    background: url('../images/hero2.jpg') no-repeat center center/cover;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    position: relative;
    margin-top: 50px;
}

.display-4 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

/* top swirl */

.custom-shape-divider-bottom-1737311119 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737311119 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 143px;
}

.custom-shape-divider-bottom-1737311119 .shape-fill {
    fill: #E0CDC1;
    padding-top: 100px;
}

.about {
    background-color: #E0CDC1;
}


.why-us {
    position: relative;
    background-color: #F4F0EB;
    padding-top: 100px;
}

.card {
    background-color: #f3ece7;
}

/* why us swirl */

.custom-shape-divider-top-1737372251 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1737372251 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1737372251 .shape-fill {
    fill: #E0CDC1;
}


.invitation {
    background-color: #E1D3CD;
}


/* Fonts */

.montserrat-100 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-400 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.montserrat-200 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.footer-item {
    padding: 20px 0;
}