


/* Navbar */
.navbar {
    min-height: 65px;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}
.navbar .navbar-nav .nav-link{
    padding: 0 1em;
}

.nav-link {
    color: black;
    font-size: large;

}

.hero {
    background: url('../images/hero-image.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.about {
    padding: 50px 0;
}